.icon-blank {
	background: url('../images/blank.gif') no-repeat center center;
}
.icon-add {
	background: url('../images/edit_add.png') no-repeat center center;
}
.icon-edit {
	background: url('../images/pencil.png') no-repeat center center;
}
.icon-clear {
	background: url('../images/clear.png') no-repeat center center;
}
.icon-remove {
	background: url('../images/edit_remove.png') no-repeat center center;
}
.icon-save {
	background: url('../images/filesave.png') no-repeat center center;
}
.icon-cut {
	background: url('../images/cut.png') no-repeat center center;
}
.icon-ok {
	background: url('../images/ok.png') no-repeat center center;
}
.icon-no {
	background: url('../images/no.png') no-repeat center center;
}
.icon-cancel {
	background: url('../images/cancel.png') no-repeat center center;
}
.icon-reload {
	background: url('../images/reload.png') no-repeat center center;
}
.icon-search {
	background: url('../images/search.png') no-repeat center center;
}
.icon-print {
	background: url('../images/print.png') no-repeat center center;
}
.icon-help {
	background: url('../images/help.png') no-repeat center center;
}
.icon-undo {
	background: url('../images/undo.png') no-repeat center center;
}
.icon-redo {
	background: url('../images/redo.png') no-repeat center center;
}
.icon-back {
	background: url('../images/back.png') no-repeat center center;
}
.icon-sum {
	background: url('../images/sum.png') no-repeat center center;
}
.icon-tip {
	background: url('../images/tip.png') no-repeat center center;
}
.icon-filter {
	background: url('../images/filter.png') no-repeat center center;
}
.icon-man {
	background: url('../images/man.png') no-repeat center center;
}
.icon-lock {
	background: url('../images/lock.png') no-repeat center center;
}
.icon-more {
	background: url('../images/more.png') no-repeat center center;
}
.icon-mini-add {
	background: url('../images/mini_add.png') no-repeat center center;
}
.icon-mini-edit {
	background: url('../images/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh {
	background: url('../images/mini_refresh.png') no-repeat center center;
}
.icon-large-picture {
	background: url('../images/large_picture.png') no-repeat center center;
}
.icon-large-clipart {
	background: url('../images/large_clipart.png') no-repeat center center;
}
.icon-large-shapes {
	background: url('../images/large_shapes.png') no-repeat center center;
}
.icon-large-smartart {
	background: url('../images/large_smartart.png') no-repeat center center;
}
.icon-large-chart {
	background: url('../images/large_chart.png') no-repeat center center;
}

/*房间管理*/
.icon-building{
	background:url('../images/loufang.png') no-repeat center center;
}
.icon-unit{
	background:url('../images/dongshu.png') no-repeat center center;
}
.icon-floor{
	background:url('../images/louceng.png') no-repeat center center;
}
.icon-room{
	background:url('../images/fangjian.png') no-repeat center center;
}
.icon-bed{
	background:url('../images/chuangwei.png') no-repeat center center;
}
.icon-staff{
	background:url('../images/staff.png') no-repeat center center;
}
.icon-zd{
	background:url('../images/zidian.png') no-repeat center center;
}
.icon-zditem{
	background:url('../images/zidian-item.png') no-repeat center center;
}
.icon-zs{
	background:url('../images/diamond.png') no-repeat center center;
}

/*右键管理*/
.icon-leave{
	background:url('../images/leave.png') no-repeat center center;
}
.icon-foodlevel{
	background:url('../images/foodlevel.png') no-repeat center center;
}
.icon-money{
	background:url('../images/money.png') no-repeat center center;
}
.icon-nurslevel{
	background:url('../images/nurslevel.png') no-repeat center center;
}
.icon-outin{
	background:url('../images/outin.png') no-repeat center center;
}
.icon-personinfo{
	background:url('../images/personinfo.png') no-repeat center center;
}
.icon-pinggu{
	background:url('../images/pinggu.png') no-repeat center center;
}
.icon-story{
	background:url('../images/zidian-story.png') no-repeat center center;
}
/*物资类别*/
.icon-basket{
	background:url('../images/basket.png') no-repeat center center;
}
.icon-car{
	background:url('../images/shoppingcar.png') no-repeat center center;
}




