@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url("../images/tcl-body-bg.png") no-repeat 0 0;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
	margin: 0 auto;
    height: 100%;
    width: 100%;
	
}

img{border:0;}
.tcl-box{
	overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    min-width: 1024px;
   
}

.tcl-center {
	width: 1024px;
	height: 63px;
	margin: 0 auto;
	padding: 20px 0;
}

.tcl-logo { 
    float: left;
}

.tcl-main {
	position: relative; 
    min-height: 625px;
    width: 1024px;
	margin: 0 auto;
	
}



.tcl-mainbox{
	width: 100%;
	overflow: hidden;
	box-sizing:border-box;

}
.tcl-mainbnt {

    margin-top:5px;

    overflow: hidden;
}
.tcl-da_kuang{
    width: 100%;
    overflow: hidden;
}

.tcl-kuangbox {
    width: 50%;
    float: left;
    padding:10px;
	box-sizing:border-box;
	margin-bottom:10px;
}

.tcl-main-content {
	height: 120px;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 30px;
	cursor: pointer;
	color:#fff;
}
.color1{background: #ff9b93;}
.color2{background: #77cdea;}
.color3{background: #FFB355;}
.color4{background: #93C753;}
.color5{background: #918eff;}

.color1:hover {
    background: #F97469;
}
.color2:hover {
    background: #54C0E4;   
}

.color3:hover {
    background: #FBA336; 
}

.color4:hover {
    background: #82C134;
}

.color5:hover {
    background: #726FF1;  
}

.tcl-content-icon{
    height: 120px;
    float: left;
    text-align: center;
}

.tcl-iconbox {
    width:100%;
}


.tcl-content-icon img{
	width: 96px;
	height: 74px;
	padding-top: 5px;
	
}
.tcl-content-icon span {
    
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
	font-family:"microsoft yahei";
	font-size:24px;
}
.loginbox {
  height: 340px;
  width: 502px;
  background-color: #fff;
  margin: 0 auto;
  padding: 5px 10px;
  box-sizing:border-box;
  border-radius: 3px;
  position: relative;
  box-shadow: 0px 0px 5px #B1B1B1;
}
.loginbox .title {
  overflow:hidden;
  border-bottom: 1px solid #00b3e0;
}
.loginbox .title p {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #00b3e0;
  font-family:"microsoft yahei";
  margin:0;
  padding-bottom:5px;
}
.login-l,.login-r{

  float:left;
  overflow:hidden;
}
.login-l{
  width:180px;
  border-right: 1px #ccc solid;
    padding-right: 10px;
    min-height: 280px;

}
.login-l p {
  font-size: 12px;
  line-height: 22px;
  color: #333;
  text-align:justify;
  text-indent:2em;
  font-family:"microsoft yahei";
  margin: 0;
}
.jianjie{
  font-size: 16px  !important;
  line-height: 26px !important;
  text-indent:0 !important;
}


.kuang {
    overflow: hidden;
    padding-left: 10px;
    margin-top: 0px;
    width: 290px;
    box-sizing:border-box;
}


.tcl-longin-user {
  height: 30px;
  margin-bottom:10px;
  font-family: microsoft yahei;
}
.yanse {
    color: #B3AEAE;
}
.tcl-longin-user input {
  width: 210px;
  padding: 0 5px;
  font-family:"微软雅黑";
  border: medium none;
  height:30px;
  line-height: 30px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.tcl-login-pass {
  height:30px;
  margin-bottom: 10px;
  font-family: microsoft yahei;
}
.tcl-login-pass input {
  width: 210px;
  padding: 0 5px;
  font-family:"微软雅黑";
  border: medium none;
  height:30px;
  line-height: 30px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.tcl-login-lo input {
   width: 180px;
   height: 30px;
   border: none;
   border-radius: 3px;
   background-color: #f00;
   color: #fff;
   font-size: 18px;
   cursor: pointer;
   font-family: "微软雅黑";
}
.tcl-login-lo input:hover {
  background-color:#FB4610;
}
.tcl-login-keep {
  margin-bottom: 10px;
}
.tcl-login-forget {
    margin-left: 30px;
    margin-right: 10px;
    text-decoration: none;
    color: #22a4ff;
    font-size: 12px;
}
.tcl-login-lo-regist {
    text-decoration: none;
    color: #22a4ff;
    font-size: 12px;
  margin-left:30px;
}
.ewm{
  width: 100%;
  height:130px;
  overflow: hidden;
}
.ewm_text{
  width: 50%;
  height: 120px;
  display:block;
  float: left;
}
.ewm_text h4{
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.ewm_text a{
  display:block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #e8383d;
}
.ewm_text a:hover{
  text-decoration: underline;
}
.ewm .ewm_pic{
  width: 50%;
  float:right;
  display:block;
}
.ewm .ewm_pic img{
  float: right;
}

.boxc{   
    width: 1024px;
	overflow: hidden;
	font-family: "Microsoft YaHei";
	padding: 0 10px;
    box-sizing: border-box;
}
.titleh2{
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color:#13c0ab;
    height: 80px;
    line-height: 80px;
}
.textleft {
    text-align: left;
}
.box-table {
    width: 100%;
    overflow: hidden;
}

.mb30 {
    margin-bottom: 30px;
}

.tabletitle {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
	color: #fff;
    text-align: center;   
    background-color: #13c0ab;
}
.box-table table {
    background: #13c0ab;
    text-align: center;
    color: #666;
    width: 100%;
    box-sizing: border-box;
}
.box-table table tr td {
    background: #fff;
    padding: 5px 15px;
}
.explain {
    font-size: 20px;
    color: #ffa03c;
    padding: 10px 15px !important;
}
td.explain a {
    color: #ffa03c;
}
.equipmentclass {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #13c0ab;
}
