*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul,ol,li{
    list-style:none;
}
img{
    border:0;
}
a {
    text-decoration:none;
    color:#666;
    outline:none
}
a:hover {
    text-decoration:none;
}
body {
    font-family:"Microsoft YaHei";
    /*background-color:#f5f5f5;*/
    color:#333;
    font-size: 16px;
}
.clear {
    clear:both;
    height:1px;
    overflow:hidden;
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    zoom:1
}
header{
    background: #fff;
}
.logo{
    float: left;
    display: block;
    width:206px;
    height: 60px;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat;
}
.navbar-default .navbar-toggle{
    margin-top: 15px;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    border: 1px solid #13c0ab;
    background: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #13c0ab;
}
.navbar-nav>li>a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li > a:hover {
    color: #13c0ab !important;
}
.telnum{
    height:60px;
    line-height: 60px;
    color: #13c0ab;
    font-size:20px;
    font-weight: bold;
    margin-left:30px !important;
}
.telnum1{
    height:60px;
    line-height:60px;
    color: #13c0ab;
    font-size:20px;
    font-weight: bold;
    margin-left:15px !important;
    float:left !important;
}
.home{
    position: relative;
    margin: 81px 0 0;
    background: #20acab url(../images/banner0.jpg) no-repeat center;
    background-size:cover;
}
.home .container h1,.home .container h2,.home .container p{
    color: #fff;
    font-weight: normal !important;
    font-family: "Microsoft YaHei";
}
.home .container h2{
    margin-top: 90px;
    margin-bottom: 40px;
}
.home .container h1{
    margin-top: 40px;
    margin-bottom:40px;
}
.home .container h1 span{
    color:#FEE302;
}
.home .container p{
    font-size: 1em;
    letter-spacing:1px;
    margin-bottom:40px;
    line-height: 2;
}
.loginbtn{
    float: left;
    display:inline-block;
    width:150px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    box-sizing:border-box;
    margin-right: 30px;
    margin-bottom:25px;
    letter-spacing: 3px;
}
.green{
    background:#0c8889;
    color: #fff;
}
.green:hover{
    background: #fd7d01;
    color:#fff;
}
.yellow{
    background: #fff;
    color:#fd7d01;
    border: 1px solid #fd7d01;
    line-height: 42px;
}
.yellow:hover{
    background: #fd7d01;
    color: #fff;
}
.service-content h2{
    text-align: center;
    padding:;
    font-size: 32px;
    text-transform: none;
    line-height: 1.5;
    margin: 0 0 60px;
    font-weight: normal;
    color: #13c0ab;
}
.service-content .col-md-3{
    padding:0 40px;
    margin-bottom: 20px;
}
.solution-box{
    width: 100%;
    overflow: hidden;
}
.solution-box .icon{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}
.icon-da{
    background: url(../images/icon-da.png);
}
.icon-sos{
    background: url(../images/icon-sos.png);
}
.icon-sh{
    background: url(../images/icon-sh.png);
}
.icon-tel{
    background: url(../images/icon-tel.png);
}
.icon-fw{
    background: url(../images/icon-fw.png);
}
.icon-jj{
    background: url(../images/icon-jj.png);
}
.icon-yc{
    background: url(../images/icon-yc.png);
}
.icon-zd{
    background: url(../images/icon-zd.png);
}
.solution-box h4{
    text-align: center;
    height: 60px;
    line-height: 1.2;
    color: #13c0ab;
    font-size:28px;
    font-weight: normal;
}
.solution-box p{
    font-size: 16px;
    font-weight: normal;
    color: #666;
    line-height: 26px;
    min-height: 104px;
}
.info-content {
    background: url(../images/banner2.png) no-repeat center;
    background-size: cover;
}
.info-content h2{
    text-align: left;
    padding:;
    font-size: 32px;
    text-transform: none;
    line-height: 32px;
    margin: 0 0 20px;
    font-weight: normal;
    color: #13c0ab;
}
.info-content p{
    color: #fff;
    font-size: 18px;
    line-height: 32px;
}

.media-left{
    padding-right: 10px;
    display: table-cell;
    vertical-align: top;
}
.info-content .media-left i.icon2{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 0 20px 0;
}
.icon-cam{
    background: url(../images/icon-cam.png);
}
.icon-health{
    background: url(../images/icon-health.png);
}
.icon-phone{
    background: url(../images/icon-phone.png);
}
.icon-and{
    background: url(../images/icon-and.png);
}
.info-content .media-body{
    overflow: hidden;
    zoom:1;
    display: table-cell;
    vertical-align: top;
}
.info-content .media-body h3{
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #13c0ab;
}
.info-content .media-body p{
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
}
.info-content .col-md-6{
    margin: 20px 0;
}
.cta-content h2{
    text-align: center;
    padding:;
    font-size: 32px;
    text-transform: none;
    line-height: 32px;
    margin: 0 0 20px;
    font-weight: normal;
    color: #13c0ab;
}
.cta-content .col-md-3 {
    text-align: center;
}
footer{
    padding:30px 0;
    background: rgba(45,45,55, .97);
    color: #fff;
}
.banner4{
    position: relative;
    margin:81px 0 0;
    background: #eee;
}
.banner4 .col-md-12{

}
.banner4  .col-md-12 img{
    width: 100%;
    height: auto;
}
.box-text{
    text-indent: 2em;
    line-height: 1.8;
    color: #666;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.orange{
    color: #ffa03c !important;
}
.font28{
    font-size: 28px !important;
    margin-bottom:15px !important;
    text-align: left !important;
}
.banner2{
    position: relative;
    margin:81px 0 0;
    background: #13c0ab;
}
.banner2 .col-md-12{

}
.banner2  .col-md-12 img{
    width: 100%;
    height: auto;
}
.ptzc{
    width: 100%;
    overflow: hidden;
}
.ptzc li{
    background: url(../images/listpic.png) no-repeat 15px 0;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 10px 0 20px;
    color: #666;
}
.ptzc li i{
    width: 35px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    display: block;
    color: #e3761a;
    margin-right: 10px;
    float: left;
}
.ptys{
    width: 100%;
    overflow: hidden;
}
.ptys  li{
    width: 100%;
    margin:30px 0;
    color: #666;
    /*line-height: 1.5;*/
}
.ptys li i{
    width:60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    display: block;
    float: left;
}
.color1{
    /*蓝绿色*/
    background-color: #13c0ab;
}
.color2{
    /*亮粉色*/
    background-color: #f859a4;
}
.color3{
    /*浅蓝色*/
    background-color: #55ddff;
}
.color4{
    /*土黄色*/
    background-color: #ff9c3c;
}
.color5{
    /*紫色*/
    background-color: #985b9c;
}
.banner3{
    position: relative;
    margin: 81px 0 0;
    background: #20acab url(../images/banner4.png) no-repeat center;
    background-size:cover;
}
.banner3 .container h1,.banner3 .container h2,.banner3 .container p{
    color: #fff;
    font-weight: normal !important;
    font-family: "Microsoft YaHei";
}
.banner3 .container h2{
    margin-top: 90px;
    margin-bottom: 40px;
}
.banner3 .container h1{
    margin-top: 40px;
    margin-bottom:40px;
}
.banner3 .container h1 span{
    color:#FEE302;
}
.banner3 .container p{
    font-size: 1em;
    letter-spacing:1px;
    margin-bottom:40px;
    line-height: 2;
}
.text-left{
    text-align: left !important;
}
.tabletitle {
    font-size: 28px;
    color: #fff;
    text-align: center;
    height: 59px;
    line-height: 59px;
    background-color: #13c0ab;
}
.tablebox{
    text-align: center;
    width: 100%;
    border: 1px solid #13c0ab;
}
.tablebox li{
    background: #fff;
    padding: 5px 15px;
}
.equipmentclass{
    line-height: 40px;
    font-size:20px;
    color: #13c0ab;
    border-bottom: 1px solid #13c0ab;
}
.explain{
    font-size: 20px;
    min-height: 77px;
    color:#ffa03c;
    padding:10px 15px !important;
    border-bottom: 1px solid #13c0ab;
}
.tableimg{
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}
